.quote {
  padding: 10px 0px;
  margin:  10px -10px;
  background: #efefef;
  color: #444;
  font-style: italic; 
}

.author {
  text-align: center;
  font-size: 10px;
}

.text {
  display: flex;

  pointer-events: none;
  .icon {
    flex: 0 0 20px;
    font-size: 11px;
    padding: 7px 0px 0 14px;
  }
  .textarea {
    margin-left: -5px;
    flex: 1;
  }
}
