<div class="title">
    <h2>Change password</h2>
    <div class="link"><a routerLink="/auth/login">Sign In</a> instead?</div>
  </div>
  <form [formGroup]="registrationForm">
    <div class="form-grid"> 
      <tui-input-password formControlName="password">
        Password
        <input tuiTextfield />
      </tui-input-password>
      <tui-input-password formControlName="wpassword">
        Password
        <input tuiTextfield />
      </tui-input-password> 
      <div class="submenu">
        <div class="checkbox">
          <tui-checkbox-labeled formControlName="keep">
            Keep me signed in
          </tui-checkbox-labeled>
        </div> 
      </div> 
      <button
        tuiButton
        type="button"
        [showLoader]="isLoading"
        (click)="onClick($event)"
      >
        Change password
      </button>
    </div>
  </form>
  