<form [formGroup]="authForm" *ngIf="currentRole">
  <div class="tui-row tui-row_sme">
    <div class="tui-col_12">
      <h2>Role</h2>
      <div class="tui-form__row tui-form__row_multi-fields">
        <div class="tui-form__multi-field">
          <tui-select
            class="b-form"
            formControlName="role"
            [valueContent]="cardContent"
          >
            Role
            <tui-data-list-wrapper
              *tuiDataList
              [items]="items"
              [itemContent]="cardContent"
            ></tui-data-list-wrapper>
          </tui-select>
        </div>
      </div>

      <div class="tui-form__row tui-form__row_multi-fields">
        <div class="tui-form__multi-field">
          {{ currentRole.comment }}
        </div>
      </div>
      <div class="tui-form__row tui-form__row_multi-fields">
        <div class="tags">
          <tui-tag
            size="s"
            status="success"
            *ngFor="let right of currentRole.right"
            [value]="right | role"
          ></tui-tag>
        </div>
      </div>
    </div>
  </div>
</form>

<ng-template #cardContent let-item>
  <div class="card-item">
    <tui-svg src="tuiIconUser"></tui-svg>
    <span class="card-name">{{ item.name }}</span>
  </div>
</ng-template>
