<div (click)="select.emit(task)" [ngClass]="{task: true, active: isActive}"  >
  <div
    class="img-side"
    [ngStyle]="{
      background: 'url(' + task.image + ') 50% 50% /cover no-repeat'
    }"
  ></div>
  <div class="left-side">
    <h3>Article's task #{{ task.id }}</h3>
    <h2>{{ task.title }}</h2>
    <p>
      <tui-tag
        size="s"
        [status]="task.statusClass"
        [value]="task.status"
      ></tui-tag> <span class="user"> {{ task.authorRef?.firstName }} {{ task.authorRef?.lastName }}</span>
    </p>
  </div>
  <div class="right-side">
    <h3>Fee</h3>
    <h2><tui-money [value]="task.fee"></tui-money></h2>
  </div>
</div>
