.content {
  padding: 10px 20px;
  display: flex;
  gap: 20px;
  .task-side {
    flex: 0 0 400px;
  }
}
 

.task-grid {
  display: grid;
  gap: 10px;
}
 

.viewport {
  height: calc(100vh - 130px);
}

.viewport2 {
  height: calc(100vh - 130px);
}
.task-editor-side {
  flex: 1;
}
.task-about {
  margin-right: 20px;
} 
.example {
  color: var(--tui-text-03);
}
