.island {
  padding: 10px 20px;
  margin: 0 20px;
  display: block;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  cursor: pointer;
  color: #888;
  &.publish {
    color: #000;
  }
  .name {
    font-weight: bold;
  }
  .about {
    color: inherit;
  }

  &:hover {
    background: #f0f0f0;
  }
}