.island {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;

  .name {
    font-weight: bold;
  }
  .about {
    color: inherit;
  }

  &:hover {
    background: #f0f0f0;
  }
}