<div class="content">
  <div class="head-menu">
    <h1>Articles</h1>
    <button
      tuiIconButton
      type="button"
      size="s"
      [appearance]="btSelected === 'CREATED' ? 'outline' : 'flat'"
      icon="tuiIconEdit"
      (click)="filterByStatus('CREATED')"
    ></button>
    <button
      tuiIconButton
      type="button"
      size="s"
      [appearance]="authorId === user.id ? 'outline' : 'flat'"
      appearance="flat"
      icon="tuiIconUser"
      (click)="filterByUser(user.id)"
    ></button>
    <button
      tuiIconButton
      type="button"
      size="s"
      [appearance]="btSelected === 'PUBLISHED' ? 'outline' : 'flat'"
      appearance="flat"
      icon="tuiIconAttach"
      (click)="filterByStatus('PUBLISHED')"
    ></button>

    <button
      tuiIconButton
      type="button"
      size="s"
      [appearance]="btSelected === 'ARCHIVED' ? 'outline' : 'flat'"
      appearance="flat"
      icon="tuiIconTrash"
      (click)="filterByStatus('ARCHIVED')"
    ></button>
    <tui-badged-content size="s" class="badgad" [contentTop]="countMark" [rounded]="false">
      <button
        tuiIconButton 
        type="button"
        size="s"
        [appearance]="isMarked ? 'outline' : 'flat'"
        appearance="flat"
        icon="tuiIconBookmark"
        (click)="filterByMarked()"
      ></button>
    </tui-badged-content>
    <button
      tuiIconButton
      type="button"
      size="s"
      appearance="primary"
      icon="tuiIconFilter"
    ></button>
    <button
      tuiIconButton
      type="button"
      size="s"
      appearance="flat"
      icon="tuiIconPlus"
      (click)="create()"
    ></button>
  </div>

  <tui-scrollbar>
    <cdk-virtual-scroll-viewport
      #viewport
      tuiScrollable
      class="viewport tui-zero-scrollbar"
      [itemSize]="45"
      [maxBufferPx]="500"
      [minBufferPx]="400"
    >
      <ng-container *ngIf="articlesFiltered.length">
        <div class="grid">
          <app-articles-item (marked)="toggleMarked($event)" [isMarkbook]="isArticleMarked(article.id)"
            *ngFor="let article of articlesFiltered"
            [article]="article"
          ></app-articles-item>
        </div>
      </ng-container>
      <ng-container *ngIf="!articlesFiltered.length">
        <div class="empty">
          <div class="centerbox">
            <img src="/assets/logo.png" class="emptyImg" />
          </div>
        </div>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </tui-scrollbar>
</div>
