<div class="error" *ngIf="error">{{ error }}</div>
<div class="success" *ngIf="!error">Success!</div>
<h1>{{ title ?? "Нет заголовка" }}</h1>
<img [src]="image" />
<div class="description">{{ description }}</div>
<ng-container *ngIf="source">
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let s of source" class="example-box" cdkDrag>
      <ng-container *ngIf="s.type === 'albums'">
        <app-album
          [token]="s"
          (remove)="removeToken($event)"
          (remove)="removeToken($event)"
          (updateText)="serialize()"
          (openModal)="openAlbumModal.emit($event)"
        ></app-album>
      </ng-container>

      <ng-container *ngIf="s.type === 'photo'">
        <app-photo
          [token]="s"
          (needSave)="needSave.emit()"
          (remove)="removeToken($event)"
          (updateText)="serialize()"
          (open-modal)="openPhotoModal.emit($event)"
          (replaceToAlbum)="replacePhotoToAlbum(s, $event)"
        ></app-photo>
      </ng-container>

      <ng-container *ngIf="s.type === 'quote'">
        <app-uploader
          [articlePart]="s"
          (addPhoto)="appendToken($event.token, $event.tokenText)"
        >
          <app-quote-art [token]="s"></app-quote-art>
        </app-uploader>
      </ng-container>

      <ng-container *ngIf="s.type === 'youtube'">
        <app-uploader
          [articlePart]="s"
          (addPhoto)="appendToken($event.token, $event.tokenText)"
        >
          <app-youtube [token]="s"></app-youtube>
        </app-uploader>
      </ng-container>

      <ng-container *ngIf="s.type === 'text'">
        <app-uploader
          [articlePart]="s"
          (addPhoto)="appendToken($event.token, $event.tokenText)"
        >
          <app-paragraph [token]="s"></app-paragraph>
        </app-uploader>
      </ng-container>

      <hr *ngIf="s.type === 'breakline'" />

      <ng-container *ngIf="s.type === 'subtitle'">
        <app-uploader
          [articlePart]="s"
          (addPhoto)="appendToken($event.token, $event.tokenText)"
        >
          <app-title [token]="s"></app-title>
        </app-uploader>
      </ng-container>
    </div>
  </div>
</ng-container>
