<div class="error" *ngIf="error">{{ error }}</div>
<div class="success" *ngIf="!error">Success!</div>
<h1>{{ title ?? "Нет заголовка" }}</h1>
<img [src]="image" />
<div class="description">{{ description }}</div> 
<ng-container *ngIf="source">
  <ng-container *ngFor="let s of source">
    <app-album
      *ngIf="s.type === 'albums'"
      [id]="s.id"
      [count]="s.count"
    ></app-album>
    <app-photo *ngIf="s.type === 'photo'" [id]="s.id"></app-photo>
    <app-quote-art *ngIf="s.type === 'quote'" [author]="s.author">
      <ng-container *ngIf="s.text.type === 'text'">
        <p *ngFor="let value of s.text.text">{{ value }}</p>
      </ng-container>
    </app-quote-art>
    <app-youtube *ngIf="s.type === 'youtube'" [code]="s.code"></app-youtube>
    <ng-container *ngIf="s.type === 'text'">
      <p *ngFor="let value of s.text">{{ value }}</p>
    </ng-container>
    <hr *ngIf="s.type === 'breakline'" />
    <h2 *ngIf="s.type === 'subtitle'">{{ s.title }}</h2>
  </ng-container>
</ng-container>
