<div class="title">
  <h2>Create Account</h2>
  <div class="link"><a routerLink="/auth/login">Sign In</a> instead?</div>
</div>
<form [formGroup]="registrationForm">
  <div class="form-grid">
    <tui-input formControlName="login">
      Login (email)
      <input tuiTextfield />
    </tui-input>
    <tui-input-password formControlName="password">
      Password
      <input tuiTextfield />
    </tui-input-password>
    <tui-input-password formControlName="wpassword">
      Password
      <input tuiTextfield />
    </tui-input-password>
    <div class="submenu">
      <div class="checkbox">
        <tui-checkbox-labeled formControlName="ad">
          Sign up to get product updates, news, and other marketing<br/>
          communications.
        </tui-checkbox-labeled>
      </div>
    </div>
    <div class="submenu">
      <div class="checkbox">
        <tui-checkbox-labeled formControlName="keep">
          Keep me signed in
        </tui-checkbox-labeled>
      </div>
      <div class="link">
        <a routerLink="/auth/remind">Forgot Password?</a>
      </div>
    </div>
    <div class="submenu">
        <p>By creating an account, I agree to Privacy Policy.</p>
    </div>
    <button
      tuiButton
      type="button"
      [showLoader]="isLoading"
      (click)="onClick($event)"
    >
      Create account
    </button>
  </div>
</form>
