<div class="row">
  <div class="row-item">
    <label tuiLabel label="Editor" *ngIf="task.editorRef">
      {{ task.editorRef?.getFullName() }}
    </label>
    <label tuiLabel label="Editor" *ngIf="!task.editorRef">
      Не назначен
    </label>
  </div>

  <div class="row-item">
    <label tuiLabel label="Author" *ngIf="task.authorRef">
      {{ task.authorRef?.getFullName() }}
    </label>
    <label tuiLabel label="Author" *ngIf="!task.authorRef">
      Не назначен
    </label>
  </div>

  <div class="row-item">
    <label tuiLabel label="Date end">
      {{ task.dateEnd! | date: "dd.MM.yyyy" }}
    </label>
  </div>

  <div class="row-item" *ngIf="canSeeFee">
    <label tuiLabel label="Fee"> {{ task.fee }} руб. </label>
  </div>
</div>
<div class="row" *ngIf="task.art">
  <div class="row-item-long">
    <a
      class="card-article"
      [routerLink]="'/profile/articles/' + task.art?.id"
      target="_blank"
    >
      <div class="image">
        <img [src]="task.art?.imageSq" />
      </div>
      <div class="description">
        <h2>{{ task.art?.title }}</h2>
        <p>Смотреть</p>
      </div>
    </a>
  </div>
</div>
