:host {
  display: block;
  margin-right: -20px;
}
.flex {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  h2,
  tui-input {
    flex: 1;
  }
  button {
    margin: 0;
  }
}

.tags {
  margin-bottom: 10px;
}

tui-text-area {
  height: 300px;
  margin-bottom: 15px;
}

markdown {
  margin-bottom: 15px;
  display: block;
}

.empty {
  padding: 20px;
  display: flex;
  height: calc(100vh - 180px);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px dashed #f0f0f0;
  .emptyImg {
    width: 100%;
    max-width: 350px;
    opacity: 0.2;
  }

  p {
    font-size: 22px;
    color: #ccc;
    text-align: center;
  }
}

.head-menu {
  display: flex;
  margin-right: 20px;
  align-items: center;
  gap: 10px;
  h1 {
    flex: 1;
  }
}

.viewport {
  height: calc(100vh - 130px);
}

.viewportWithControl {
  height: calc(100vh - 130px - 32px);
}

.task-about {
  margin-right: 20px;
}