<div class="content">
  <div class="head-menu">
    <h1>My fee</h1>
    <button
      tuiIconButton
      type="button"
      size="s"
      appearance="primary"
      icon="tuiIconSortOff" (click)="showDialog()"
    ></button>
    <button
      tuiIconButton
      type="button"
      size="s"
      appearance="flat"
      icon="tuiIconPlus"
      (click)="create()"
    ></button>
  </div>
  <tui-scrollbar>
    <cdk-virtual-scroll-viewport
      #viewport
      tuiScrollable
      class="viewport tui-zero-scrollbar"
      [itemSize]="45"
      [maxBufferPx]="500"
      [minBufferPx]="400"
    >
      <ng-container *ngIf="categories">
        <app-category-item
          *ngFor="let category of enabled"
          [category]="category"
        ></app-category-item>
      </ng-container>
      <ng-container *ngIf="!categories">
        <div class="empty">
          <div class="centerbox">
            <img src="/assets/logo.png" class="emptyImg" />
          </div>
        </div>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </tui-scrollbar>
</div>

<ng-template
  let-observer
  #orderDialog 
>
  <form>
    <p>Reorder categories</p>
    <tui-reorder [(items)]="categories" (enabledChange)="saveOrder($event)" [(enabled)]="enabled"></tui-reorder>
 
  </form>
</ng-template>
